# Секреты
.env
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Виртуальное окружение
ManagerPassword/
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# База данных
*.db
*.sqlite

# Логи
*.log

# Тесты
.pytest_cache/
htmlcov/
.coverage